@use "../setting/config" as *;
@use "../setting/mixin";

/*------------------------
 hero
------------------------*/

.hero {
  position: relative;
  width: 100dvw;
  height: 100dvh;

  &__inner {
    width: clamp(50vw, 1200px, 95vw);
    height: 100%;
    margin: 0 auto;
    display: grid;
    grid-template-rows: 1fr 1fr;
  }

  &__title-area {
    align-self: flex-end;
  }

  &__title {
    font-size: clamp(2rem, 10vw, 4.5rem);
    font-weight: 900;
    text-align: center;
    margin-bottom: rem(10);
  }

  &__content {
    p {
      text-align: center;
    }
  }

  &__bg {
    --bg-inset: #{rem(7)};
    position: absolute;
    content: "";
    width: calc(100% - var(--bg-inset) * 2);
    height: calc(100% - var(--bg-inset) * 2);
    top: var(--bg-inset);
    left: var(--bg-inset);
    border-radius: 3px;
    background: url("/images/reduced-motion_mv-sp.webp") no-repeat center
      center/ cover;
    z-index: -1;

    @include mq(md) {
      --bg-inset: #{rem(10)};
      border-radius: 5px;
    }

    @include mq(lg) {
      background: url("/images/reduced-motion_mv.webp") no-repeat center center/
        cover;
    }
  }
}
