@use "../setting/config" as *;
@use "../setting/mixin";

/*------------------------
 toggle
------------------------*/

.toggle {
  display: flex;
  flex-direction: column;
  align-items: end;

  &__label {
    display: flex;
    position: relative;
    align-items: center;
    width: 30px;
    height: 15px;
    border-radius: 50px;
    background-color: #dddddd;
    cursor: pointer;
    transition: background-color 0.4s;

    &:has(:checked) {
      background-color: $color-main;

      &::after {
        left: 15px;
      }
    }

    &::after {
      position: absolute;
      left: 0;
      width: 15px;
      height: 15px;
      border-radius: 50%;
      box-shadow: 0 0 5px rgb(0 0 0 / 20%);
      background: #fff;
      content: "";
      transition: left 0.4s;
    }
  }

  &__input {
    display: none;
  }

  &__text {
    font-size: 0.8rem;
    color: #696969;
    letter-spacing: 0;
    margin: rem(12) 0;

    span {
      display: inline-block;
      width: 26px;
      text-align: right;
    }
  }
}
